<template>
  <div class="admin">
    <v-row>
      <v-col cols="auto">
        <v-select
          :items="data"
          item-text="name"
          label="Items"
          v-model="selectedItem"
        ></v-select>
      </v-col>
    </v-row>
    <div v-if="selected">
      <v-row>
        <v-col cols="4">
          <v-form>
            <v-text-field
              v-model="selected.name"
              label="Name"
              outlined
            ></v-text-field>
            <div class="text-h6">
              Logo
            </div>
            <v-img
              :src="selected.logo"
              contain
              height="80"
              class="mb-6"
            ></v-img>
            <v-textarea
              v-model="selected.text"
              label="Text"
              outlined
            ></v-textarea>
            <div class="text-h6">
              Image
            </div>
            <v-img :src="selected.image"></v-img>
            <v-combobox
              v-model="selected.group"
              :items="groups"
              label="Groups"
              multiple
              class="mt-6"
            ></v-combobox>
            <v-text-field
              v-model="selected.homepage"
              label="Homepage"
              outlined
            ></v-text-field>
            <v-text-field
              v-model="selected.map"
              label="Map URL"
              outlined
            ></v-text-field>
            <v-text-field
              v-model="selected.virtualTour"
              label="Virtual Tour URL"
              outlined
            ></v-text-field>
          </v-form>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    selected() {
      if (this.selectedItem) {
        return this.data.filter(obj => {
          return obj.name == this.selectedItem;
        })[0];
      }
      return null;
    }
  },
  data() {
    return {
      selectedItem: null,
      groups: ["restaurants", "cafes"],
      data: [
        {
          name: "Indigo Restaurang & Bar",
          text:
            "A LA CARTE, BISTRO OCH LUNCH. BAR, HANTVERKSÖL, FINA COCKTAILS. AMBITIÖS VINLISTA OCH EVIG KÄRLEK",
          image: require("@/assets/indigo.jpeg"),
          group: ["restaurants"],
          map:
            "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1988.863403570595!2d19.941002316127797!3d60.100200656017144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNjDCsDA2JzAwLjciTiAxOcKwNTYnMzUuNSJF!5e0!3m2!1sen!2s!4v1596710416763!5m2!1sen!2s",
          logo: require("@/assets/indigo_logo.png"),
          homepage: "http://www.indigo.ax/"
        },
        {
          name: "F.P. von Knorring",
          text:
            "Välkommen till Restaurang F.P. von Knorring - en restaurangbåt mitt i Mariehamns centrum",
          image: require("@/assets/knorring.jpg"),
          group: ["restaurants"],
          logo: require("@/assets/indigo_logo.png")
        }
      ]
    };
  }
};
</script>
