<template>
  <div class="home">
    <version1 />
  </div>
</template>

<script>
import Version1 from "@/views/Version1.vue";

export default {
  components: { Version1 },
  data() {
    return {};
  }
};
</script>

<style scoped></style>
