<template>
  <div class="version1">
    <header>
      <div class="text-h4 text-md-h3 text-center white--text ma-12">
        Virtual Åland
      </div>
      <v-row justify="center" v-if="!$vuetify.breakpoint.mobile">
        <v-col cols="auto" v-for="(group, i) in groups" :key="i">
          <v-card
            outlined
            rounded="lg"
            hover
            height="100%"
            @click="viewGroup(i)"
          >
            <v-card-text class="text-center">
              <v-img :src="group.image" contain> </v-img>
              <div class="pt-2">
                {{ group.text }}
              </div>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
      <v-row v-else justify="center">
        <v-col cols="auto" v-for="(group, i) in groups" :key="i">
          <v-card
            outlined
            rounded="lg"
            hover
            height="100%"
            @click="viewGroup(i)"
          >
            <v-card-text class="text-center">
              <v-img :src="group.image" contain height="20" width="20"> </v-img>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </header>
    <div v-if="!selectedGroup" class="mt-5">
      <v-row align="center" justify="center">
        <v-col cols="auto" v-for="(item, i) in logos" :key="i">
          <v-card flat class="pa-2">
            <v-img :src="item.logo"></v-img>
          </v-card>
        </v-col>
      </v-row>
    </div>
    <div v-else>
      <v-row class="px-4">
        <v-col cols="12" md="6">
          <v-row>
            <v-col
              cols="12"
              md="4"
              v-for="(item, i) in selectedGroupItems"
              :key="i"
            >
              <v-card height="100%" class="card-outer" @click="viewItem(item)">
                <v-img :src="item.image"></v-img>
                <v-card-title>{{ item.name }}</v-card-title>
                <v-card-text>{{ item.text }}</v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="12" md="6" class="pa-6">
          <v-card flat outlined v-if="selectedItem">
            <v-row justify="center" class="py-5">
              <v-btn
                outlined
                @click="setIframe(selectedItem.virtualtour)"
                class="ma-2"
                :disabled="!selectedItem.virtualtour"
              >
                <v-icon class="pr-2">mdi-sunglasses</v-icon>Virtual Tour
              </v-btn>
              <v-btn outlined @click="setIframe(selectedItem.map)" class="ma-2">
                <v-icon class="pr-2">mdi-map-search</v-icon>Google Map
              </v-btn>
              <v-btn
                outlined
                :href="selectedItem.homepage"
                target="_blank"
                class="ma-2"
              >
                <v-icon>mdi-web</v-icon>Homepage
              </v-btn>
            </v-row>
            <div class="map-responsive">
              <iframe
                :src="selectedIframe"
                width="100%"
                height="480"
                frameborder="0"
                style="border:0;"
                allowfullscreen=""
                aria-hidden="false"
                tabindex="0"
              ></iframe>
            </div>
          </v-card>
          <div v-else class="map-responsive">
            <iframe
              :src="selectedGroup.map"
              width="100%"
              height="480"
              frameborder="0"
              style="border:0;"
              allowfullscreen=""
              aria-hidden="false"
              tabindex="0"
            ></iframe>
          </div>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      data: [
        {
          name: "F.P. von Knorring",
          text:
            "Välkommen till Restaurang F.P. von Knorring - en restaurangbåt mitt i Mariehamns centrum",
          image: require("@/assets/knorring.jpg"),
          group: "restaurants",
          homepage: "http://www.fpvonknorring.com/",
          map:
            "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1988.9526839602247!2d19.945244416607224!3d60.0987216819347!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x468ac47607c5e98d%3A0x64443a8957841526!2sF.P.%20von%20Knorring!5e0!3m2!1sen!2s!4v1598723238129!5m2!1sen!2s",
          directions:
            "https://www.google.com/maps/dir//F.P.+von+Knorring,+Mariehamn,+%C3%85land+Islands/@60.0987217,19.9452444,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x468ac47607c5e98d:0x64443a8957841526!2m2!1d19.9474331!2d60.0987217"
        },
        {
          name: "Indigo Restaurang & Bar",
          text:
            "A LA CARTE, BISTRO OCH LUNCH. BAR, HANTVERKSÖL, FINA COCKTAILS. AMBITIÖS VINLISTA OCH EVIG KÄRLEK",
          image: require("@/assets/indigo.jpeg"),
          group: "restaurants",
          homepage: "http://www.indigo.ax/",
          map:
            "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1988.8706641373922!2d19.940637116607206!3d60.100080381935136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x468ac38a796f3e81%3A0x9f09e0ae0229e4ba!2sIndigo%20restaurang%20%26%20bar!5e0!3m2!1sen!2s!4v1598723180458!5m2!1sen!2s",
          directions:
            "https://www.google.com/maps/dir//Indigo+restaurang+%26+bar,+1+Nygatan,+Mariehamn+22100,+%C3%85land+Islands/@60.1000804,19.9406371,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x468ac38a796f3e81:0x9f09e0ae0229e4ba!2m2!1d19.9428258!2d60.1000804"
        },
        {
          name: "Sunnan II",
          text:
            "M/S Sunnan II trafikerar i den Åländskaskärgården under sommarsäsongen. Med oss kan du göra lunch- eller middagskryssningar där menyn är uppbyggd av lokala råvaror och det säsongen erbjuder. På lunchkryssningen serverar vi våran lunchtallrik och på middagskryssningen är det meny enligt A la carté. Ombord finns även en mindre bar var drycker och lättare tilltugg serveras.",
          image: require("@/assets/Sunnan-II.jpg"),
          group: "restaurants",
          homepage: "https://sunnan.ax/",
          virtualtour:
            "https://kuula.co/share/collection/7PLXP?fs=1&amp;vr=0&amp;zoom=1&amp;thumbs=-1&amp;margin=19&amp;chromeless=1&amp;logo=1&amp;logosize=120",
          map:
            "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1988.5734106304783!2d19.94328291660747!3d60.10500438193692!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x468ac3298353f599%3A0x85299e070e4db614!2sSunnan%20II!5e0!3m2!1sen!2s!4v1598722975866!5m2!1sen!2s",
          directions:
            "https://www.google.com/maps/dir//Sunnan+II,+Sj%C3%B6kvarteret,+Mariehamn+22100,+%C3%85land+Islands/@60.1050044,19.9432829,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x468ac3298353f599:0x85299e070e4db614!2m2!1d19.9454716!2d60.1050044"
        }
      ],
      logos: [
        {
          logo: require("@/assets/indigo_logo.png")
        },
        {
          logo: require("@/assets/knorring_logo.png")
        }
      ],
      selectedGroupItems: [],
      selectedGroup: null,
      selectedIframe: null,
      selectedItem: null,
      groups: [
        {
          name: "restaurants",
          text: "Restaurants",
          image: require("@/assets/restaurant2.png"),
          map:
            "https://www.google.com/maps/d/u/0/embed?mid=1MMU0o2iwokY2ZO49SZKywCIqjWeS3Yvk"
        },
        {
          name: "hotels",
          text: "Hotels",
          image: require("@/assets/cafe2.png")
        },
        {
          name: "museum",
          text: "Museums",
          image: require("@/assets/museum2.png")
        },
        {
          name: "restaurants",
          text: "Restaurants",
          image: require("@/assets/restaurant2.png")
        },
        {
          name: "hotels",
          text: "Hotels",
          image: require("@/assets/cafe2.png")
        },
        {
          name: "museum",
          text: "Museums",
          image: require("@/assets/museum2.png")
        }
      ]
    };
  },
  methods: {
    viewGroup(index) {
      this.selectedGroup = this.groups[index];
      this.selectedGroupItems = this.data.filter(
        item => item.group === this.groups[index].name
      );
    },
    viewItem(item) {
      if (item) {
        this.selectedItem = item;
        if (item.virtualtour) {
          this.setIframe(item.virtualtour);
        } else if (item.map) {
          this.setIframe(item.map);
        }
      } else {
        this.selectedItem = null;
      }
    },
    setIframe(src) {
      if (src) {
        this.selectedIframe = src;
      } else {
        this.selectedIframe = null;
      }
    }
  }
};
</script>

<style scoped>
.card-outer {
  position: relative;
  padding-bottom: 50px;
}
.card-actions {
  position: absolute;
  bottom: 0;
  right: 0;
}
header {
  background: url("../assets/knorring2.png");
  text-align: center;
  width: 100%;
  height: auto;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  /* border-radius: 0 0 85% 85% / 30%; */
  padding-bottom: 80px;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
</style>
