<template>
  <div class="version2">
    <v-card height="100%" class="wrapper">
      <div class="google-map" ref="googleMap"></div>
      <div id="filter">
        <v-card width="400px" elevation="5">
          <v-card-text>
            <v-autocomplete
              v-model="search"
              :items="combinedItems"
              clearable
              dense
              outlined
              flat
              hide-details
              hide-selected
              item-text="name"
              item-value="symbol"
              label="Vad letar du efter"
              solo
              class="pb-4"
              @input="searchPerformed()"
            ></v-autocomplete>
            <!-- <v-text-field
              dense
              outlined
              append-icon="mdi-magnify"
              label="Vad letar du efter"
            ></v-text-field> -->
            <v-select
              v-model="selectedCategory"
              dense
              hide-details
              :items="categories"
              label="Kategorier"
              item-text="name"
              outlined
              @input="selectionMade()"
              clearable
            >
              <template slot="selection" slot-scope="{ item }">
                {{ item.name }}
              </template>
              <template slot="item" slot-scope="{ item }">
                {{ item.name }} [{{ item.counter }}]
              </template></v-select
            >
          </v-card-text>
        </v-card>
      </div>
    </v-card>
  </div>
</template>

<script>
import GoogleMapApiLoader from "google-maps-api-loader";

export default {
  // computed: {
  //   availableItems() {
  //     console.log("test");
  //     let items = [];
  //     if (this.selectedCategory) {
  //       items = this.data.filter(el => {
  //         return el.group === this.selectedCategory;
  //       });
  //     } else {
  //       items = this.data;
  //     }
  //     this.toggleMarkers(items);
  //     return items;
  //   }
  // },
  async mounted() {
    GoogleMapApiLoader({ apiKey: this.apiKey }).then(google => {
      this.google = google;
      this.intializeMap();
    });
  },
  data() {
    return {
      apiKey: "AIzaSyDizn9zLMxOD9dI8Dqlc9Fza96PuPUii2U",
      google: null,
      search: null,
      combinedItems: [],
      map: null,
      mapConfig: {
        center: { lat: 60.178, lng: 19.9156 },
        mapTypeControl: false,
        zoom: 10
      },
      mapMarkers: [],
      selectedCategory: null,
      data: [
        {
          name: "F.P. von Knorring",
          text:
            "Välkommen till Restaurang F.P. von Knorring - en restaurangbåt mitt i Mariehamns centrum",
          image: require("@/assets/knorring.jpg"),
          group: "Restaurants",
          homepage: "http://www.fpvonknorring.com/",
          position: { lat: 60.098866, lng: 19.947369 }
        },
        {
          name: "Indigo Restaurang & Bar",
          text:
            "A LA CARTE, BISTRO OCH LUNCH. BAR, HANTVERKSÖL, FINA COCKTAILS. AMBITIÖS VINLISTA OCH EVIG KÄRLEK",
          image: require("@/assets/indigo.jpeg"),
          group: "Restaurants",
          homepage: "http://www.indigo.ax/",
          position: { lat: 60.100235, lng: 19.942761 }
        },
        {
          name: "Sunnan II",
          text:
            "M/S Sunnan II trafikerar i den Åländskaskärgården under sommarsäsongen. Med oss kan du göra lunch- eller middagskryssningar där menyn är uppbyggd av lokala råvaror och det säsongen erbjuder. På lunchkryssningen serverar vi våran lunchtallrik och på middagskryssningen är det meny enligt A la carté. Ombord finns även en mindre bar var drycker och lättare tilltugg serveras.",
          image: require("@/assets/Sunnan-II.jpg"),
          virtualtour:
            "https://kuula.co/share/collection/7PLXP?fs=1&amp;vr=0&amp;zoom=1&amp;thumbs=-1&amp;margin=19&amp;chromeless=1&amp;logo=1&amp;logosize=120",
          group: "Restaurants",
          homepage: "https://sunnan.ax/",
          position: { lat: 60.105143, lng: 19.945504 }
        },
        {
          name: "Stallhagen",
          text:
            "Hos oss kan du äta och dricka gott både ute och inne, besöka vår Gårdsbutik, Galleri Konsthagen och spela Discgolf. Vi önskar gamla och nya gäster varmt välkomna.",
          //image: require("@/assets/Sunnan-II.jpg"),
          group: "Breweries",
          homepage: "http://www.stallhagen.com/",
          position: { lat: 60.2404, lng: 19.962909 }
        }
      ],
      categories: []
    };
  },
  methods: {
    intializeMap() {
      const mapContainer = this.$refs.googleMap;
      this.map = new this.google.maps.Map(mapContainer, this.mapConfig);
      this.setCombinedItems();
      this.setCategories();
      this.addAllMarkers();
    },
    setCombinedItems() {
      for (let i = 0; i < this.data.length; i++) {
        this.combinedItems.push(this.data[i].name + ", " + this.data[i].group);
      }
    },
    setCategories() {
      this.categories = [];
      for (var i = 0; i < this.data.length; i++) {
        let e = this.data[i];
        let index = this.categories.findIndex(x => x.name === e.group);
        if (index >= 0) {
          this.categories[index].counter += 1;
        } else {
          this.categories.push({ name: e.group, counter: 1 });
        }
      }
    },
    addAllMarkers() {
      const { Marker } = this.google.maps;
      for (let i = 0; i < this.data.length; i++) {
        let marker = this.data[i];
        let m = new Marker({
          position: marker.position,
          marker: marker,
          map: this.map
        });
        let infoWindow = new this.google.maps.InfoWindow({
          content: this.generateInfoWindowContent(this.data[i])
        });

        m.addListener("click", function() {
          infoWindow.open(this.map, m);
        });

        this.mapMarkers.push(m);
      }
    },
    toggleMarkers(category, item) {
      if (item) {
        let name = item.split(",")[0];
        for (let i = 0; i < this.mapMarkers.length; i++) {
          if (name === this.mapMarkers[i].marker.name) {
            this.mapMarkers[i].setMap(this.map);
          } else {
            this.mapMarkers[i].setMap(null);
          }
        }
      } else if (category) {
        for (let i = 0; i < this.mapMarkers.length; i++) {
          if (category === this.mapMarkers[i].marker.group) {
            this.mapMarkers[i].setMap(this.map);
          } else {
            this.mapMarkers[i].setMap(null);
          }
        }
      } else {
        for (let i = 0; i < this.mapMarkers.length; i++) {
          this.mapMarkers[i].setMap(this.map);
        }
      }
    },
    selectionMade() {
      this.search = null;
      this.toggleMarkers(this.selectedCategory, this.search);
    },
    searchPerformed() {
      this.selectedCategory = null;
      this.toggleMarkers(this.selectedCategory, this.search);
    },
    generateInfoWindowContent(item) {
      let content = "";
      if (item.virtualtour) {
        content =
          "<iframe src='" +
          item.virtualtour +
          "' width='100%' height='400' frameborder='0' style='border:0;' allowfullscreen='' aria-hidden='false' tabindex='0' ></iframe>";
      }
      content += "<h1>" + item.name + "</h1>";
      content += "<p>" + item.text + "</p>";
      return content;
    }
  }
};
</script>

<style scoped>
.wrapper {
  position: relative;
}
#filter {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
}
.google-map {
  height: calc(100vh - 30px);
  width: 100%;
}
</style>
