<template>
  <div class="version3">
    <v-app-bar flat color="transparent" height="56">
      <v-toolbar-title class="text-uppercase">Virtual Åland</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-menu offset-y>
        <template v-slot:activator="{ on, attrs }">
          <v-btn slot="activator" text small v-bind="attrs" v-on="on">
            <v-img
              :src="require('@/assets/icons/' + currentLanguage.name + '.png')"
              height="18"
              contain
            ></v-img>
            <v-icon>mdi-menu-down</v-icon>
          </v-btn>
        </template>
        <v-list dense color="#b6c7ce">
          <v-list-item
            v-for="item in languages"
            :key="item.name"
            @click="currentLanguage = item"
          >
            <v-list-item-content>
              <v-img :src="item.image" height="18" contain></v-img>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-menu>
      <v-btn icon @click="viewSearch = true">
        <v-icon>mdi-magnify</v-icon>
      </v-btn>
    </v-app-bar>
    <v-tabs
      v-model="tab"
      centered
      color="black"
      background-color="rgb(255, 255, 255, 0.2)"
      icons-and-text
      show-arrows
      center-active
      optional
    >
      <v-tabs-slider></v-tabs-slider>

      <v-tab
        v-for="(category, index) in categories"
        :key="index"
        href=""
        @click="showGroup(category.name)"
      >
        {{ category.name }}
        <v-icon>{{ category.icon }}</v-icon>
      </v-tab>
    </v-tabs>

    <v-tabs-items v-model="tab" class="ma-4">
      <v-tab-item v-for="(category, index) in categories" :key="index">
        <div v-if="selectedItem">
          <ItemDetails
            :item-details="selectedItem"
            :closeable="true"
            @closed="selectedItem = null"
          />
        </div>
        <div v-else-if="selectedGroupItems.length > 0">
          <ItemDetailsSmall
            v-for="(item, index) in selectedGroupItems"
            :key="index"
            :item-details="item"
            class="mb-4"
            @click.native="showItem(item)"
          />
        </div>
      </v-tab-item>
    </v-tabs-items>

    <div class="mt-14" />
    <v-footer absolute class="footer" elevation="4">
      Footer med länkar?
    </v-footer>
    <div v-if="tab == undefined" class="mx-4">
      <!-- <ItemDetails :item-details="itemOfTheDay" /> -->
    </div>
    <v-btn
      v-scroll="onScroll"
      v-show="scrollButton"
      fab
      dark
      fixed
      bottom
      right
      small
      @click="toTop"
    >
      <v-icon>mdi-chevron-up</v-icon>
    </v-btn>
    <v-dialog v-model="viewSearch">
      <v-card>
        <v-card-title class="headline">Add title here</v-card-title>
        <v-card-text>
          <v-text-field dense label="Sök" outlined></v-text-field>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn text @click="viewSearch = false">OK</v-btn>
          <v-btn text @click="viewSearch = false">Avbryt</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import ItemDetails from "@/components/ItemDetails";
import ItemDetailsSmall from "@/components/ItemDetailsSmall";

export default {
  components: {
    ItemDetails,
    ItemDetailsSmall
  },
  created() {
    this.itemOfTheDay = this.data[0];
  },
  data() {
    return {
      tab: null,
      scrollButton: false,
      test: false,
      currentLanguage: {
        name: "se",
        image: require("@/assets/icons/se.png")
      },
      selectedGroup: null,
      selectedGroupItems: [],
      slideItem: null,
      selectedItem: null,
      selectedItemButton: null,
      extendedToolbar: false,
      viewSearch: false,
      languages: [
        {
          name: "fi",
          image: require("@/assets/icons/fi.png")
        },
        {
          name: "se",
          image: require("@/assets/icons/se.png")
        },
        {
          name: "en",
          image: require("@/assets/icons/en.png")
        }
      ],
      data: [
        {
          name: "Restaurant 1",
          text:
            "Välkommen till Restaurang F.P. von Knorring - en restaurangbåt mitt i Mariehamns centrum",
          image: require("@/assets/knorring.jpg"),
          group: "Restaurants",
          homepage: "http://www.fpvonknorring.com/",
          position: { lat: 60.098866, lng: 19.947369 }
        },
        {
          name: "Indigo Restaurang & Bar",
          text:
            "A LA CARTE, BISTRO OCH LUNCH. BAR, HANTVERKSÖL, FINA COCKTAILS. AMBITIÖS VINLISTA OCH EVIG KÄRLEK",
          image: require("@/assets/indigo.jpeg"),
          group: "Restaurants",
          homepage: "http://www.indigo.ax/",
          position: { lat: 60.100235, lng: 19.942761 }
        },
        {
          name: "Sunnan II",
          text:
            "M/S Sunnan II trafikerar i den Åländskaskärgården under sommarsäsongen. Med oss kan du göra lunch- eller middagskryssningar där menyn är uppbyggd av lokala råvaror och det säsongen erbjuder. På lunchkryssningen serverar vi våran lunchtallrik och på middagskryssningen är det meny enligt A la carté. Ombord finns även en mindre bar var drycker och lättare tilltugg serveras.",
          image: require("@/assets/Sunnan-II.jpg"),
          virtualtour:
            "https://kuula.co/share/collection/7PLXP?fs=1&amp;vr=0&amp;zoom=1&amp;thumbs=-1&amp;margin=19&amp;chromeless=1&amp;logo=1&amp;logosize=120",
          group: "Restaurants",
          homepage: "https://sunnan.ax/",
          position: { lat: 60.105143, lng: 19.945504 }
        },
        {
          name: "Stallhagen",
          text:
            "Hos oss kan du äta och dricka gott både ute och inne, besöka vår Gårdsbutik, Galleri Konsthagen och spela Discgolf. Vi önskar gamla och nya gäster varmt välkomna.",
          //image: require("@/assets/Sunnan-II.jpg"),
          group: "Breweries",
          homepage: "http://www.stallhagen.com/",
          position: { lat: 60.2404, lng: 19.962909 }
        }
      ],
      categories: [
        { name: "äta", icon: "mdi-silverware" },
        { name: "sova", icon: "mdi-bed" },
        { name: "titta", icon: "mdi-sunglasses" },
        { name: "fika", icon: "mdi-coffee" },
        { name: "shoppa", icon: "mdi-cart" },
        { name: "upptäck", icon: "mdi-compass" }
      ]
    };
  },
  methods: {
    showGroup(n) {
      console.log(n);
      this.slideItem = n - 1;
      this.selectedGroup = "cafe";
      this.selectedGroupItems = [];
      this.selectedItem = null;
      for (let i = 0; i < this.getRandomNumber(); i++) {
        let item = {
          name: n + " " + i,
          textLong: "Lite längre text...",
          textShort: "Lite kortare text...",
          image: require("@/assets/indigo.jpeg"),
          rating: 5
        };
        this.selectedGroupItems.push(item);
      }
    },
    showItem(item) {
      this.selectedItem = item;
    },
    onScroll(e) {
      if (typeof window === "undefined") return;
      const top = window.pageYOffset || e.target.scrollTop || 0;
      this.scrollButton = top > 20;
    },
    toTop() {
      this.$vuetify.goTo(0);
    },
    getRandomNumber() {
      return Math.floor(Math.random() * 10) + 1;
    }
  }
};
</script>

<style>
.border {
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.text-category {
  text-transform: uppercase;
  font-size: small;
}

.version3 {
  /* background-color: cadetblue; */
  background-image: url(../assets/background2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

.listItem {
  background-color: white;
  padding-left: 10px;
  border-radius: 10px;
}

.v-slide-group__prev--disabled,
.v-slide-group__next--disabled {
  visibility: hidden;
}
.v-slide-group__prev,
.v-slide-group__next {
  min-width: 0 !important;
}

.v-tabs-items {
  background-color: transparent !important;
}

.content {
  height: calc(100vh - 192px);
}

#close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
}

.itemCard {
  overflow-y: auto;
  height: calc(100vh - 212px);
}

.footer {
  background-color: rgb(255, 255, 255, 0.7) !important;
}
/* .scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .card {
    flex: 0 0 auto;
  }
}

.scrolling-wrapper-flexbox {
  -webkit-overflow-scrolling: touch;
} */
</style>
