<template>
  <v-card>
    <v-row no-gutters>
      <v-col cols="4" class="pa-1">
        <v-img :src="itemDetails.image"></v-img>
      </v-col>
      <v-col cols="8" class="pa-1">
        <div class="text-subtitle-1 font-weight-medium">
          {{ itemDetails.name }}
        </div>
        <p class="text-body-2">
          {{ itemDetails.textShort }}
        </p>
        <v-btn color="primary" class="float-right" x-small text right bottom
          >Läs mera...</v-btn
        >
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
export default {
  props: {
    itemDetails: {
      type: Object,
      required: true
    }
  },
  data() {
    return {};
  }
};
</script>

<style scoped></style>
