<template>
  <v-card tile>
    <v-img :src="itemDetails.image"></v-img>
    <v-btn
      v-model="closeItem"
      v-if="closeable"
      id="close"
      icon
      small
      rounded
      absolute
      top
      right
      @click="closeItem = true"
      class="closeButton"
    >
      <v-icon>mdi-close-circle</v-icon>
    </v-btn>
    <v-card-title>
      {{ itemDetails.name }}
    </v-card-title>
    <v-card-text>
      {{ itemDetails.textLong }}
    </v-card-text>
    <v-card-actions>
      <!-- <v-row justify="center">
        <v-btn-toggle dense>
          <v-btn fab x-small color="blue darken-3"
            ><v-icon>mdi-facebook</v-icon>
          </v-btn>
          <v-btn icon color="purple darken-3"
            ><v-icon>mdi-instagram</v-icon>
          </v-btn>
          <v-btn icon color="green darken-3" href="tel:+358123456789"
            ><v-icon>mdi-phone</v-icon>
          </v-btn>
        </v-btn-toggle>
      </v-row> -->
      <v-row justify="center">
        <v-btn
          class="mr-1"
          color="amber darken-3"
          dark
          elevation="2"
          fab
          x-small
        >
          <v-icon>mdi-rotate-3d-variant</v-icon>
        </v-btn>
        <v-btn
          class="mr-1"
          color="brown darken-3"
          dark
          elevation="2"
          fab
          x-small
          href="https://www.google.com"
          target="_blank"
        >
          <v-icon>mdi-home</v-icon>
        </v-btn>
        <v-btn
          class="mr-1"
          color="blue darken-3"
          dark
          elevation="2"
          fab
          x-small
          href="https://www.facebook.com"
          target="_blank"
        >
          <v-icon>mdi-facebook</v-icon>
        </v-btn>
        <v-btn
          class="mr-1"
          color="purple darken-3"
          dark
          elevation="2"
          fab
          x-small
          href="https://www.instagram.com"
          target="_blank"
        >
          <v-icon>mdi-instagram</v-icon>
        </v-btn>
        <v-btn
          class="mr-1"
          color="green darken-3"
          dark
          elevation="2"
          fab
          x-small
          href="tel:+3581234567890"
          target="_blank"
        >
          <v-icon>mdi-phone</v-icon>
        </v-btn>
        <v-btn
          class="mr-1"
          color="cyan darken-1"
          dark
          elevation="2"
          fab
          x-small
          href="https://www.google.com/maps/@60.0945498,19.9075938,13z"
          target="_blank"
        >
          <v-icon>mdi-google-maps</v-icon>
        </v-btn>
        <v-btn
          class="mr-1"
          color="red darken-3"
          dark
          elevation="2"
          fab
          x-small
          href="https://www.youtube.com"
          target="_blank"
        >
          <v-icon>mdi-youtube</v-icon>
        </v-btn>
      </v-row>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  props: {
    itemDetails: {
      type: Object,
      required: true
    },
    closeable: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  watch: {
    closeItem: function() {
      // Emit this information to the parents component
      this.$emit("closed", this.closeItem);
    }
  },
  data() {
    return {
      closeItem: false
    };
  }
};
</script>

<style scoped>
.closeButton {
  background-color: white;
}
</style>
